target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
src/main/resources/slots/*
src/main/resources/utterances/*
src/main/resources/output/*
!src/main/resources/slots/AMAZON.US_CITY.values
!src/main/resources/slots/bookingItem.values
!src/main/resources/slots/bookingAction.values
!src/main/resources/utterances/booking.grammar
!src/main/resources/output/travel_booking.json
.idea
*.iml
/src/test
