target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
src/main/resources/slots/*
src/main/resources/utterances/*
src/main/resources/output/*
!src/main/resources/slots/bookingType.values
!src/main/resources/slots/bookingAction.values
!src/main/resources/slots/bookingType2.values
!src/main/resources/slots/bookingAction2.values
!src/main/resources/utterances/booking.grammar
!src/main/resources/utterances/booking2.grammar
!src/main/resources/output/SkillBuilderFormatter_booking.json
!src/main/resources/output/SMAPIFormatter_booking.json
!src/main/resources/output/UtteranceListFormatter_booking.txt
!src/main/resources/output/WeightedSegmentsFormatter_booking2.csv
.idea
*.iml
/src/test
