target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
src/main/resources/placeholders/*
src/main/resources/utterances/*
src/main/resources/output/*
!src/main/resources/placeholders/city.txt
!src/main/resources/utterances/booking.txt
!src/main/resources/output/1503485637126_booking.txt
.idea
*.iml
/src/test
